body {
  background: #efefef;
  margin: 0;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;  /*所有都不要margin padding*/
}
hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.topNavBar {
  padding: 20px 0px 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topNavBar-inner {
  padding: 0 16px;
}

.topNavBar nav {
  padding-top: 6px;
  padding-bottom: 1px;
}
.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.topNavBar nav > ul > li >a {
  font-size: 12px;
  color: #B7B7B7;
  font-weight: bold;
  border-top: 4px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.topNavBar nav > ul > li >a:hover {
  border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
  font-size: 24px;
  font-family: "Arial Black";
  padding-top: 3px;
  padding-bottom: 4px;
}

.topNavBar .logo .rs {
  margin-right: 8px;
  color: #e8676b;
}

.topNavBar .logo .card {
  color: #9a9da2;
}


.banner {
  height: 515px;
  background-image: url(./img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
}

.banner .mask {
  height: 515px;
  background-color: rgba(0,0,0,0.8);
}

.userCard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.userCard .welcome {
  background: #E6686A;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}

.userCard .welcome .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #E6686A;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}

.userCard .picture {
  float: left;
}
.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}

.userCard .text h1 {
  margin-top: 18px;
}
.userCard .text hr {
  margin: 20px 0;
}
.userCard .pictureAndText {
  padding: 50px;
}
.userCard dl dt,
.userCard dl dd {
  float: left;
  padding: 5px 0;
}
.userCard dl dt {
  width: 30%;
  font-weight: bold;
}
.userCard dl dd {
  width: 70%;
  color: #9da0a7;
}

.userCard > footer.media {
  background-color: #e6686a;
  text-align: center;
}
.userCard > footer.media > a {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover {
  background: #cf5d5f;
}
.userCard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}