body{
  background: black;
  color: white;
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.topNavBar{
  padding: 20px 16px 20px 16px;
}

.topNavBar > nav{
  padding-top: 6px;
  padding-bottom: 1px;
}
.topNavBar > nav > ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar > nav > ul > li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.topNavBar > nav > ul > li >a{
  font-size: 12px;
  color: #B7B7B7;
  font-weight: bold;
  border-top: 4px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.topNavBar > nav > ul > li >a:hover{
  border-bottom: 3px solid #e06567;
}

.topNavBar .logo{
  font-size: 24px;
  font-family: "Arial Black";
  padding-top: 3px;
  padding-bottom: 4px;
}

.topNavBar .logo .rs{
  margin-right: 4px;
  color: #e8676b;
}

.topNavBar .logo .card{
  color: #9a9da2;
}

.wz{
  font-size: 14px; 
  height: 30px; 
}