.loading {
    width: 200px;
    height: 200px;
    
    position: relative;
  }
  
  .loading::before, .loading::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background: black;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: s 1.5s linear infinite;
  }
  .loading::after {
    animation-delay: 0.75s;
  }
  
  @keyframes s{
    0%{
      width: 0px;
      height: 0px;
      opacity: 1;
    }
    100%{
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }