body {
  background: #efefef;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;  /*所有都不要margin padding*/
}

.left {
  float: left; }

.right {
  float: right; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
ul,
ol {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

[data-x].active{
  outline: 10px solid red;
}
[data-x].offset {
  transform: translateY(100px);
}
[data-x] {
  transform: translateY(0);
  transition: all 0.5s;
}
@keyframes slideUp{
  0%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0);
  }
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.topNavBar {
  padding: 20px 0px 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  color: #b7b7b7
}
.topNavBar.sticky {
  background: white;
  padding: 10px 0;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #3d4451;
}

.topNavBar-inner {
  padding: 0 16px;
}

.topNavBar nav {
  padding-top: 5px;
  
}
.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
}

.topNavBar nav > ul > li >a {
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  border-top: 4px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative;
}
.topNavBar nav > ul > li.active a::after,
.topNavBar nav > ul > li.highlight a::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #01afa6;
  height: 3px;
  animation: menuSlide 0.4s;
}
@keyframes menuSlide {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
.topNavBar .submenu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  color: #3d4451;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.topNavBar li.active> .submenu {
  display: block;
  animation: submenuSlide 0.4s;
}

@keyframes submenuSlide {
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0%;
  }
}
.topNavBar .submenu > li {
  white-space: nowrap;
  padding: 5px 10px;
}
.topNavBar .logo {
  font-size: 24px;
  font-family: "Arial Black";
  padding-top: 3px;
  padding-bottom: 4px;
}

.topNavBar .logo .rs {
  margin-right: 8px;
  color: #01afa6;
}

.topNavBar .logo .card {
  color: #9a9da2;
}


.banner {
  height: 515px;
  background-image: url(./img/rs-cover.jpg); 
  background-position: center center;
  background-size: cover;
}

.banner .mask {
  height: 515px;
  background-color: rgba(0,0,0,0.8);
}

.userCard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}

.userCard .welcome {
  background: #01afa6;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}

.userCard .welcome .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #01afa6;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}

.userCard .picture {
  float: left;
}
.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}

.userCard .text h1 {
  margin-top: 18px;
}
.userCard .text hr {
  margin: 20px 0;
}
.userCard .pictureAndText {
  padding: 50px;
}
.userCard dl dt,
.userCard dl dd {
  float: left;
  padding: 5px 0;
}
.userCard dl dt {
  width: 30%;
  font-weight: bold;
}
.userCard dl dd {
  width: 70%;
  color: #9da0a7;
}

.userCard > footer.media {
  background-color: #01afa6;
  text-align: center;
}
.userCard > footer.media > a {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover {
  background: #01afa6;
}
.userCard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}

body > main {
  margin-top: -340px;
}

body > main .downloadResume-wrapper {
  text-align: center;
}

body > main .downloadResume {
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #cdcfd1;
  background: #efefef;
  display: inline-block;
  border-radius: 4px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.2s;
}
body > main .downloadResume:hover {
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
}

.selfIntroduction {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: kaiti;
  line-height: 1.8;
  font-size: 20px;
  font-weight: bold;
}

section.skills,
section.portfolio,
section.myBlog,
section.history,
section.message {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
section.skills > h2,
section.message > h2,
section.myBlog > h2,
section.history > h2,
section.portfolio > h2 {
  text-align: center;
  color: #3d4451;
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
}
section.skills h3 {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
section.skills > ol {
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
  padding: 42px 50px 10px;
  margin-top: 30px;
}
section.skills > ol > li {
  float: left;
  width: 47%;
  block-size: border-box;
}
section.skills > ol > li:nth-child(even){
  float: right;
}
section.skills .progressBar {
  height: 5px;
  background: #fae1e1;
  border-radius: 2px;
  margin: 4px 0 40px;
  overflow: hidden;
}
section.skills .progressBar > .progress {
  height: 100%;
  background: #01afa6;
  width: 70%;
  border-radius: 2px;
  transform: translateX(0);
  transition: all 1s;
}
section.skills.offset .progress {
  transform: translateX(-100%);
}

section.portfolio {
  text-align: center;
  margin-bottom: 100px;
  max-width: 760px;
}
section.portfolio h2{
  margin-bottom: 32px;
}

section.portfolio .swiper-container {
  width: 640px;
  height: 480px;
}

.swiper-slide:hover {
  box-shadow: -4px -1px 46px -15px rgba(0,0,0,0.75);
  transition: all 0.8s;
}

.swiper-slide>a {
  height: 210px;
}

.swiper-slide-1 {
  width: 640px;
  height: 30px;
  background-color: #efefef;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
}

.swiper-slide a:hover .swiper-slide-1 {
  display: block;
  transition: all 2s;
}


section.portfolio .swiper-button-prev, 
section.portfolio .swiper-button-next {
  background-color: white;
  width: 64px;
  height: 64px;
  right: 100%;
  left: auto;
  border-radius: 50%;
}
section.portfolio .swiper-button-next {
  left: 100%;
  right: auto;
}

section.myBlog .myBlog-list {
  margin: 30px 0px 32px 0px; }

section.myBlog .myBlog-list .firstBlog {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  background: #fff;
  transition: shadow 0.6s; }

section.myBlog .myBlog-list .firstBlog:hover {
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.3); }

section.myBlog .myBlog-list .firstBlog:nth-child(odd) {
  margin-right: 30px; }

section.myBlog a {
  display: inline-block;
  vertical-align: top; }

.myBlog-list .firstBlog .blogImg img {
  width: 455px;
  height: 287px; }

.myBlog-list .firstBlog .blogTime {
  padding: 10px 20px;
  background: #01afa6;
  position: absolute;
  top: 20px;
  right: 20px; }

.firstBlog .blogTime .day {
  display: block;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 2px; }

.firstBlog .blogTime .month {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 700; }

.firstBlog > ul {
  padding: 30px 0px 40px 0px; }

.firstBlog > ul > li {
  text-align: center; }

.firstBlog > ul > li .blogSpecial {
  font-size: 12px;
  color: #757575;
  font-weight: 700; }

.firstBlog > ul > li .blogSpecial:hover,
.firstBlog > ul > li .user-bg:hover {
  text-decoration: underline; }

.firstBlog > ul > li .blogTitle {
  color: #373b42;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  margin: 20px 0px 30px 0px; }

.firstBlog > ul > li .blogTitle:hover {
  color: #01afa6; }

.firstBlog > ul > li .user-bg {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding-left: 20px; }

.firstBlog .blogUser {
  background: url(./image/yonghu.png);
  background-size: 12px 12px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-right: 25px; }

.firstBlog .blogComment {
  background: url(./image/pinglun.png);
  background-size: 12px 12px;
  background-position: 0px 0px;
  background-repeat: no-repeat; }

section.myBlog .blogButton {
  margin: 30px 0px 0px 0px;
  text-align: center; }

section.myBlog .blogButton a {
  font-size: 14px;
  color: #333;
  padding: 21px 55px;
  letter-spacing: 0.05em;
  background: #e0e0e0;
  border-radius: 4px;
  transition: all 0.6s; }

section.myBlog .blogButton a:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); }


/* section.message > ol {
  max-width: 700px;
  margin: 20px auto;
  border-top: 1px solid #DDD;
  background: #f4f4f4;
}
section.message > ol > li {
  padding: 16px;
  border-bottom: 1px solid #DDD;
}
section.message > form {
  max-width: 700px; 
  margin: 30px auto;
} */



.message main {
  width: 100%;
  background: white;
  box-shadow: 0 2px 6px rgb(170, 170, 170);
  margin-top: 40px;
  padding: 40px 10px;
  
}

.message main li {
  margin-top: 50px;
  display: flex;
}

.message main li:before {
  content: "“";
  display: block;
  font-size: 70px;
  color: #01afa6;
  padding-right: 40px;
  margin-top: -10px;
}

.message main li:first-child {
  margin-top: 0;
}

.message .userMessage {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #3e4450;
}

.message .userMessage::after {
  content: "";
  display: block;
  width: 760px;
  height: 1px;
  background: #eee;
  margin-top: 20px;
}

.message .userName {
  display: flex;
  margin-top: 20px;
}

.message .userName img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message .userName>div {
  padding-left: 20px;
}

.message .userName div:first-child {
  margin-top: 5px;
  font-size: 18px;
  color: #3e4450;
}

.message .userName div:last-child {
  font-size: 14px;
  color: #d0d0d0;
}

.message form {
  margin-bottom: 50px;
  display: flex;
}

.message input[type="text"]::placeholder {
  color: #d0d0d0;
}

.message input[type="text"] {
  flex: 6;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 16px;
  margin-right: 20px;
}

.message input[type="text"]:focus {
  outline: none;
}

.message input[type="submit"] {
  flex: 1;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  background: #01afa6;
  color: #fff;
  border: none;
}

.message input[type="submit"]:focus {
  outline: none;
}

.foot {
  height: 50px;
  background-color: #ccc;
  margin-top: 80px;
}

.foot .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}


.timeline > li::before{
  content: '';
  display: block;
  clear: both;
 
}

section .timeline > li:nth-child(odd){
margin-top: 30px;
padding-right: calc(50% - 50px);
text-align: right;
}
section .timeline .img{
font-size: 20px;
width: 100px;
display: inline-block;
background-color: #f7ba3e;
padding-right: 5px;
height: 100px;
border-radius: 50%;
border: 3px solid #01afa6;
}
section .timeline img{
width: 100px;
height: 100px;
border-radius: 50%;
border: 3px solid #01afa6;
}
section .timeline > li:nth-child(odd) dl{
margin-right: 120px;
}
section .timeline > li:nth-child(odd) img{
float: right;
}
section .timeline > li:nth-child(even){
margin-top: 30px;
padding-left: calc(50% - 50px);
text-align: left;
}
section .timeline > li:nth-child(even) dl{
margin-left: 120px;
}
section .timeline > li:nth-child(even) img{
float: left;
}
section .timeline dt{
font-size: 24px;
font-weight: bold;
}
section .timeline dd:nth-of-type(1){
font-size: 18px;
font-weight: bold;
}
section .timeline > li{
position: relative;
}
.history li::before{
content: '';
display: inline-block;
position: absolute;
width: 4px;
background-color: #01afa6;
left: 50%;
top: 105px;
height: 115px;
}
section li:last-child::before{
height: 0;
}